<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="An online repository of Adam Angle's notes from University of California, Berkeley undergraduate EECS classes.">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    {{ if .Params.katex -}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
    {{- end }}

    <!-- Custom CSS -->
    {{ range .Site.Params.customCSS -}}
    {{- $style := resources.Get . -}}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous" media="screen">
    {{- end }}

    {{ $sectionTitle := "" -}}
    {{- if .CurrentSection -}}
    {{- $sectionTitle = printf "%s%s" " | " .CurrentSection.Title -}}
    {{- end -}}
    {{- $title := printf "%s%s%s%s" .Title $sectionTitle " | " .Site.Title -}}
    {{- if .IsHome -}}
    {{- $title = printf "%s%s" "Home | " .Site.Title -}}
    {{- end -}}
    <title>{{ $title }}</title>
</head>