<aside class="pagenav flex-shrink-0 p-3 bg-white col-sm-12 col-lg-3 col-xl-2">
  <div class="d-flex flex-row align-items-left pb-3 mb-3 border-bottom">
    <a href="{{ .Site.BaseURL }}"><i data-feather="corner-down-left" aria-label="Return to course list"></i></a>
    <span class="ms-1">
      <span class="fs-5 fw-semibold">
        {{ .CurrentSection.Title }}
      </span>
      <br />
      <small class="fw-semibold text-muted">{{ .CurrentSection.Params.Description }}</small>
    </span>
    
  </div>
  <ul class="list-unstyled ps-0 side-page-nav">
    {{ $currentPage := . }}
    {{ $active := eq $currentPage.Kind "section" }}
    <li>
      <a href="/{{ .Section | urlize }}" class="link-dark rounded{{if $active }} active{{ end }}">
        {{ .CurrentSection.Params.page_title }}
      </a>
    </li>
    {{ range .CurrentSection.Pages.ByDate }}
      {{ $active := eq $.RelPermalink .RelPermalink }}
      <li>
        <a href="{{ .RelPermalink }}" class="link-dark rounded{{if $active }} active{{ end }}">{{ .Title }}</a>
      </li>
    {{ end }}
    <!--
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
        Home
      </button>
      <div class="collapse show" id="home-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Overview</a></li>
          <li><a href="#" class="link-dark rounded">Updates</a></li>
          <li><a href="#" class="link-dark rounded">Reports</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        Dashboard
      </button>
      <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">Overview</a></li>
          <li><a href="#" class="link-dark rounded">Weekly</a></li>
          <li><a href="#" class="link-dark rounded">Monthly</a></li>
          <li><a href="#" class="link-dark rounded">Annually</a></li>
        </ul>
      </div>
    </li>
    <li class="mb-1">
      <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        Orders
      </button>
      <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li><a href="#" class="link-dark rounded">New</a></li>
          <li><a href="#" class="link-dark rounded">Processed</a></li>
          <li><a href="#" class="link-dark rounded">Shipped</a></li>
          <li><a href="#" class="link-dark rounded">Returned</a></li>
        </ul>
      </div>
    </li>
    <li class="border-top my-3"></li>
    <li class="mb-1">
      <li><a href="#" class="link-dark rounded">Edit this page</a></li>
    </li>-->
  </ul>
</aside>